.board {
    margin: 0 auto;
    width: 488px;
    border: 5px double #000;
    display: flex;
    flex-flow: row wrap;
}
.square {
    perspective: 1000px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    background: #f3f2f2;
    border: 1px solid #eaeaea;
    cursor: pointer;
}
.square .flipper {
    transition: 0.4s;
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
}
.square.flip .flipper{
    transform: rotateY(180deg);
}
.square.remove .flipper{
    transform: rotateY(-180deg);
    transition: opacity .4s ease-out .4s, transform .4s;
    opacity: 0;
}
.square .front,
.square .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
}
.square .front {
    transform: rotateY(180deg);
    z-index: 2;
    background-image: url("/img/memory-game-illustration-icons-white-background.jpg");
    background-size: 600px 600px;
    overflow: hidden;
}
.square .back {
    background-color: #ea7a7a;
}
.square.sun .front{
    background-position: -10px -10px;
}
.square.bug .front{
    background-position: -130px -10px;
}
.square.owl .front{
    background-position: -130px -130px;
}
.square.heart .front{
    background-position: -10px -130px;
}
.square.car .front{
    background-position: 110px -10px;
}
.square.flower .front{
    background-position: -250px -10px;
}
.square.mushroom .front{
    background-position: 230px -10px;
}
.square.dice .front{
    background-position: 230px -130px;
}
.square.present .front{
    background-position: 110px -130px;
}
.square.pencil .front{
    background-position: 110px -250px;
}
.square.cloud .front{
    background-position: 230px -250px;
}
.square.frog .front{
    background-position: -250px -250px;
}
.square.house .front{
    background-position: -130px -250px;
}
.square.butterfly .front{
    background-position: -10px -250px;
}
